
  <div class="contet_map" >
  	<h4 class="center cyan-text text-darken-1 deco">お祭りスケジュール</h4>
      <%= image_tag "map_1.jpg" %>
  </div>

    <div class="content_map2">
        <%= image_tag "1.jpg" %></p>
       </div>
       <div class="content_map2">
      <%= image_tag "2.jpg" %></p>
       </div>
       <div class="content_map2">
      <%= image_tag "3.jpg" %></p>
       </div>
       <div class="content_map2">
      <%= image_tag "4.jpg" %></p>
       </div>
       <div class="content_map2">
      <%= image_tag "5.jpg" %></p>
       </div>
       <div class="content_map2">
      <%= image_tag "6.jpg" %></p>
  </div>
